# Core
numpy<2
pandas==2.2.3
matplotlib

# Machine Learning
tensorflow-cpu==2.18.0

# Web / App
streamlit      # sin versión, usará 1.51.0 en la nube
streamlit-webrtc

# OpenCV
opencv-python-headless
