tensorflow-cpu==2.19.0
keras==3.10.0
numpy==1.26.4          # <--- compatible con TF 2.19
protobuf>=5.28.0
h5py==3.14.0
pillow==11.2.1
matplotlib==3.10.3
pandas==2.3.0
streamlit==1.36.0
rich==13.7.1           # <--- compatible con Streamlit 1.36 (<14)